.header {
  background-color: rgba(96, 202, 202, 0.548);
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.5);

}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  height: 85px;

}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: aliceblue;
}

.nav-link {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 23px;
  transition: .2s;

  &:hover {
    color: rgb(118, 194, 194);
  }

}

nav a.active {
  color: rgb(118, 194, 194);
  text-decoration: underline;
}


.cart-icon {
  transition: .15s;
  font-size: 18px;
  height: 36px;
  width: 36px;
  border-radius: 10px;
  border-color: aliceblue;

  &:hover {
    transform: scale(1.05);
  }

}

.nav-logo {
  transition: .15s;
  height: 100px;
  width: 300px;
  object-fit: cover;
  mix-blend-mode: multiply;
  margin-top: 0;

  &:hover {
    transform: scale(1.05) rotate(3deg);

  }

}

.item-container {
  flex-wrap: wrap;
  width: 95%;
  max-height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  grid-area: a2;
}

.card {
  position: relative;
  width: 13.875em;
  height: 18.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.card::after {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  content: "Ver más";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  background: rgb(96, 202, 202);
  color: #fff;
  height: 2.5em;
  width: 218px;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0;
  font-weight: lighter;
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.text {
  max-width: 55px;
}

.image {
  object-fit: contain;
  height: 250px;
  width: 100%;
  background: rgba(96, 202, 202, 0.199);
  display: grid;
  place-items: center;
}

.grid {
  margin-top: 50px;
  max-width: 100%;
  display: grid;
  grid-template-areas:
    'a1  a2'
    'a1  a2'
    'a1  a2'

  ;


}

.filter {
  background-color: rgba(96, 202, 202, 0.548);
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 35px;
  width: 172px;
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 640px;
  grid-area: a1;
}

.inputs {
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.inputs li {
  margin-top: 14px;
  width: 100px;
}

.category-title {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  margin-bottom: 12px;
}

.category-filter {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: .15s;

  &:hover {
    font-size: 25px;
    color: rgb(118, 194, 194);
  }

}

.wrapper {
  height: 620px;
  width: 70%;
  margin: 120px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(118, 194, 194);
  float: left;
  height: 100%;
  width: 50%;
}

.product-img img {
  padding: 60px;
  width: 370px;
  height: 370px;
  object-fit: contain;
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 100%;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

.product-text h2 {
  margin: 10px 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 325px;
  width: 100%;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 130px;
  margin-top: 200px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: 5px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 20px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: rgba(96, 202, 202, 0.548);
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: rgb(118, 194, 194);
}

.button-detail {
  position: absolute;
  z-index: 2;
  right: 300px;
  top: 220px;
  transition: .15s;
  font-size: 18px;
  height: 36px;
  width: 60px;
  border-radius: 10px;
  border-color: aliceblue;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
  }

}

.link-detail {
  text-decoration: none;
  color: black
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.spinner-container {
  margin-top: 210px;
  --uib-size: 120px;
  --uib-color: rgba(96, 202, 202, 0.548);
  --uib-speed: 1.5s;
  --dot-size: calc(var(--uib-size) * 0.17);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: smoothRotate calc(var(--uib-speed) * 1.8) linear infinite;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  animation: rotate var(--uib-speed) ease-in-out infinite;
}

.dot::before {
  content: '';
  height: var(--dot-size);
  width: var(--dot-size);
  border-radius: 50%;
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}

.dot:nth-child(2),
.dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.835 * 0.5);
}

.dot:nth-child(3),
.dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.668 * 0.5);
}

.dot:nth-child(4),
.dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.501 * 0.5);
}

.dot:nth-child(5),
.dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.334 * 0.5);
}

.dot:nth-child(6),
.dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.167 * 0.5);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  65%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes smoothRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.contador {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  height: 20px;
  width: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #ffffffc2;
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 5px;
  margin-left: 10px;
  color: rgb(26, 163, 163);
  font-size: 17px;
}


.cart-view {
  margin: auto;
  width: 100%;
  margin-top: 50px;

}

.cart-item {
  margin-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cart-item h3,
p {
  width: 100px;
}

.cart-img {

  width: 150px;
  object-fit: cover;
}

.cart-title-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cart-title-container h2 {
  display: flex;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  justify-content: center;

}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  gap: 4px;
  width: 100px;

}

.remove {
  gap: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  border: 0;
  background-color: #00000000;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-weight: lighter;

  &:hover {
    text-decoration: underline;
  }
}

.trashIcon {
  width: 25px;
  height: 20px;
}

.separador {
  display: flex;
  justify-content: center;
  height: 1px;
  border-radius: 5px;
  background-color: #00000036;
}

.total-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}